!!!
%html
  %head
    %title= @site.title 
    %link{rel: "stylesheet", type: "text/css", href: "theme/example/jquery/css/custom-theme/jquery-ui-1.8.18.custom.css"}
    %script{type: "text/javascript", src: "theme/example/jquery/js/jquery-1.7.1.min.js"}
    %script{type: "text/javascript", src: "theme/example/jquery/js/jquery-ui-1.8.18.custom.min.js"}
    :javascript
      $(function() {
        $( "#tabs" ).tabs();
      });
  %body
    %header
      %h1= @site.title
      %ol
        - Page.all.each do |page|
          %li= link_to page.title, url(page.link)
    #tabs
      %ul
        %li
          %a{:href => "#tabs-1"} Nunc tincidunt
        %li
          %a{:href => "#tabs-2"} Proin dolor
        %li
          %a{:href => "#tabs-3"} Aenean lacinia
      #tabs-1
        %article= yield
      #tabs-2
        %p めいりお
      #tabs-3
        %p Mauris eleifend 
        %p Duis cursus. Mae
    / End demo
    %footer
      Copyright 2011-2012 Y.Chubachi

